.aboutUs {
  width: 100%;
  padding: 128px 15%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUs .heading {
    width: 100%;
    color: #fafafa;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    font-family: 'Teko Medium', serif;
}

.aboutUs .heading span {
  padding: 0 1rem;
}

.aboutUs .body {
  width: 100%;
  padding-top: 100px;
  padding-left: 22.5%;
  padding-right: 40px;
  padding-bottom: 28px;
  box-sizing: border-box;
  color: #fafafa;
  font: 1.25rem 'Space Mono';
  letter-spacing: 0.2rem;
  position: relative;
}

.aboutUs .body .ele-1 {
  position: absolute;
  top: 70px;
  left: calc(30% - 100px);
  width: 100px;
  height: 100px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

.aboutUs .body .ele-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 60px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

.aboutUs .body .ele-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 2px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

@font-face {
  font-family: 'Teko Medium';
  src: url(../assets/fonts/teko/Teko-Medium.ttf);
}

@media (max-width: 600px) {
  .aboutUs {
    padding: 64px 5%;
  }
  
  .aboutUs .heading {
      font-size: 2.2rem;
      letter-spacing: 0.5rem;
  }
  
  .aboutUs .heading span {
    padding: 0 0.75rem;
  }
  
  .aboutUs .body {
    width: 80%;
    padding: 40px 5%;
    padding-bottom: 20px;
    font: 0.9rem 'Space Mono';
    letter-spacing: 0.1rem;
  }
  
  .aboutUs .body .ele-1 {
    top: 20px;
    left: -5px;
    width: 60px;
    height: 60px;
  }
  
  .aboutUs .body .ele-2 {
    width: 2px;
    height: 40px;
  }
  
  .aboutUs .body .ele-3 {
    width: 40px;
    height: 2px;
  }
}

@media (max-width: 350px) {
  .aboutUs .body {
    font-size: 0.75rem;
  }
}
