.aboutUs {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.man {
  background: url("../assets/icons/man.png") no-repeat;
  background-size: cover;
  width: 130px;
  height: 160px;
  position: absolute;
  top: 150px;
  right: 145px;
  opacity: 0.6;
}

.man2 {
  background: url("../assets/icons/man2.png") no-repeat;
  background-size: cover;
  width: 130px;
  height: 160px;
  position: absolute;
  bottom: 135px;
  left: 400px;
  opacity: 0.6;
}

.ele-1 {
  position: absolute;
  width: 10px;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.7;
  top: 218px;
  left: 264px;
}

.ele-2 {
  position: absolute;
  top: 360px;
  left: 775px;
  width: 100px;
  height: 100px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.2;
}

.header {
  font: Bold 74px/110px "Space Mono";
  position: absolute;
  top: 200px;
  left: 320px;
  letter-spacing: 17.17px;
  color: #fafafa;
  opacity: 0.8;
}

.content {
  font: 20px "Space Mono";
  width: 750px;
  position: absolute;
  right: 280px;
  top: 390px;
  color: #fafafa;
  opacity: 0.9;
}
