.events {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 5% 10%;
  position: relative;
  z-index: 3;
  overflow: scroll;
}

.events .header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events .heading {
  width: 50%;
  text-align: center;
  color: #fafafa;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  font-family: "Space Mono Bold", serif;
}

.events .header .filter {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#yos {
  width: 30%;
  height: 30%;
  background-color: lightgray;
}
#yos:focus {
  outline: none;
}

.events .filter span {
  font-family: "Space Mono Bold", serif;
  font-size: 2em;
  color: lightgray;
}

.events .heading span {
  padding-left: 1rem;
  border-right: 0.6rem solid #fafafa;
}

.events .body {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.events .body .card {
  width: 45%;
  font-size: 1rem;
  color: #fafafa;
  font-family: "Space Mono", serif;
  letter-spacing: 0.25rem;
  margin: 40px 0;
}

.events .body .card > * {
  width: 100%;
}

.events .body .card .events-name {
  margin-bottom: 8px;
  opacity: 0.81;
  font-size: 1.2rem;
}

.events .body .card .events-content {
  display: flex;
  opacity: 0.81;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}

.events .body .card .events-content img {
  width: 40%;
  margin-left: 10%;
  margin-right: 4.5%;
}

.events .body .card .events-content span {
  display: inline-block;
  width: 42.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events .body .card .events-content span .events-details {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 0.8rem;
}

.events .body .card .events-content span .view-detail-button {
  width: 100%;
  height: 17.5%;
  min-height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  font-size: 0.75rem;
  cursor: pointer;
  position: relative;
  margin-top: 5%;
}

.events .body .card .events-content span .view-detail-button::before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 16px;
  height: 16px;
  z-index: -1;
  border-left: 1.5px solid rgba(255, 255, 255, 0.5);
  border-top: 1.5px solid rgba(255, 255, 255, 0.5);
  content: "";
}

.events .body .card .events-content span .view-detail-button::after {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  z-index: -1;
  border-right: 1.5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  content: "";
}

@media (max-width: 600px) {
  .events {
    padding: 64px 5%;
  }

  .events .heading {
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
  }

  .events .heading span {
    padding-left: 0.5rem;
    border-right: 0.35rem solid #fafafa;
  }

  .events .body {
    width: 100%;
    padding: 40px 5%;
  }

  .events .body .card {
    width: 95%;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    margin: 20px 0;
  }

  .events .body .card .events-name {
    margin-bottom: 4px;
  }

  .events .body .card .events-content span .events-details {
    font-size: 0.6rem;
  }

  .events .body .card .events-content span .events-details .events-date {
    margin-bottom: 8px;
  }

  .events .body .card .events-content span .view-detail-button {
    font-size: 0.6rem;
  }
}
