.contact {
    width: 100%;
    padding: 100px 20%;
    box-sizing: border-box;
    background: #000000;
}

.contact .heading {
    width: 100%;
    text-align: end;
    color: #fafafa;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    font-family: 'Space Mono Bold', serif;
}

.contact .heading span {
    padding-left: 1rem;
    border-left: 0.6rem solid #fafafa;
}

.contact .body {
    width: 100%;
    padding-top: 128px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}