.home {
  height: 120vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.home .navbar {
  height: 15.5vh;
  width: 100%;
  padding: 0 5%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.home .navbar .nav-logo {
  background: url("../assets/backgrounds/Apogee.png");
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
}

.home .navbar .nav-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 32vw;
  align-self: center;
}

.home .navbar .nav-link-container .nav-links {
  font: 20px/29px "Space Mono";
  letter-spacing: 1.64px;
  color: #fafafa;
  /* cursor: pointer; */
  transition: 0.1s ease;
  white-space: nowrap;
}

.home .navbar .nav-link-container .nav-links.register-button {
  background: rgba(255, 255, 255, 0.4);
  padding: 6px 12px;
}

.home .navbar .nav-link-container .nav-links:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.home .heading {
  height: 60vh;
  display: flex;
  align-items: flex-end;
  font-family: "Glitch";
  font-size: 64px;
  letter-spacing: 16.24px;
  color: #fafafa;
}

.home .footer {
  position: absolute;
  left: 0;
  bottom: 17.5%;
  width: 100%;
  padding: 16px 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .footer .countdown {
  display: inline;
  padding: 8px 16px;
  color: #3F3F3F;
  background: rgba(255, 255, 255, 0.6);
  font: 1.5rem "Apex Medium", serif;
  letter-spacing: 0.25rem;
}

.home .footer img {
  width: 50px;
  height: 50px;
}

.home .footer a {
  margin-left: 36px;
}

.home .footer .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home .footer .icon.facebook {
  background-image: url("../assets/icons/facebook.png");
}

.home .footer .icon.instagram {
  background-image: url("../assets/icons/instagram.png");
}

.home .footer .icon.twitter {
  background-image: url("../assets/icons/twitter.png");
}

.left-nav {
  position: fixed;
  z-index: 15;
  height: 100vh;
  width: 13vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.left-nav .left-nav-link {
  height: 70px;
  width: 183px;
  display: flex;
}

.left-nav .left-nav-link .side {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-nav .left-nav-link .side .line {
  height: 60px;
  width: 1.5px;
  background: #fafafa;
}

.left-nav .left-nav-link .side .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.left-nav .left-nav-link .side .active {
  height: 21px;
  width: 21px;
  opacity: 1;
  border: 1.5px solid #707070;
}

.left-nav .left-nav-link .side .circle .dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #fafafa;
  opacity: 0.6;
}

.left-nav .left-nav-link .side .circle .active {
  opacity: 1;
}

.left-nav .left-nav-link .index {
    height: 35px;
    display: flex;
    font-family: 'Space Mono';
    padding-left: 15px;
    margin-top: -10px;
    align-items: center;
    color: rgb(223, 223, 223);
    opacity: 0.6;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.left-nav .left-nav-link .left-nav-text {
    height: 21px;
    display: flex;
    font-family: 'Space Mono';
    padding-left: 5px;
    margin-top: -5px;
    align-items: center;
    color: rgb(223, 223, 223);
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
}

.left-nav .left-nav-link .first {
  margin-top: 0;
}

.left-nav .left-nav-link .active {
  color: #fafafa;
  opacity: 1;
}

footer {
  width: 90%;
  margin: auto;
  padding: 16px 2.5%;
  border-top: 2px solid #fafafa;
  font-size: 1.25rem;
  font-family: "Space Mono", serif;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

footer span {
  display: flex;
  align-items: center;
}

footer a {
  margin-left: 28px;
}

footer .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

footer .icon.facebook {
  background-image: url("../assets/icons/facebook.png");
}

footer .icon.instagram {
  background-image: url("../assets/icons/instagram.png");
}

footer .icon.twitter {
  background-image: url("../assets/icons/twitter.png");
}