html, body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100%;
  background: #000000;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper section:nth-of-type(2n + 1) .heading {
  text-align: end;
}

.wrapper section:nth-of-type(2n) .heading span {
  border-left: 0.6rem solid #fafafa;
}

.wrapper section:nth-of-type(2n + 1) .heading span {
  border-right: 0.6rem solid #fafafa;
}

/* Comment till the star before production*/

.contact .heading {
  text-align: end;
}

.contact .heading span {
  border-right: 0.6rem solid #fafafa;
}

/* **************** */

@media (max-width: 600px) {
  .wrapper section .heading {
    text-align: center;
  }
  .wrapper section:nth-of-type(2n + 1) .heading {
    text-align: center;
  }
  .wrapper section:nth-of-type(2n) .heading span {
    border-left: 0.35rem solid #fafafa;
  }
  .wrapper section:nth-of-type(2n + 1) .heading span {
    border-right: 0.35rem solid #fafafa;
  }
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../assets//fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: "Space Mono Bold";
  src: url(../assets//fonts/space-mono.bold.ttf);
}

@font-face {
  font-family: "Space Mono";
  src: url(../assets//fonts/space-mono.regular.ttf);
}

@font-face {
  font-family: "Glitch";
  src: url(../assets/fonts/CFGlitchCity-Regular.ttf);
}

@font-face {
  font-family: "Apex Medium";
  src: url(../assets/fonts/Apex\ Mk3-Medium.otf);
}

@font-face {
  font-family: "Teko Medium";
  src: url(../assets/fonts/teko/Teko-Medium.ttf);
}

@font-face {
  font-family: "Teko Regular";
  src: url(../assets/fonts/teko/Teko-Regular.ttf);
}

@keyframes glitch-transition {
  0%, 100% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  20% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  30% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  40% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  50% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  55% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  65% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  70% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  85% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
    clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
  }
  95% {
    -webkit-clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
    clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
  }
}