html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    height: 100%;
    background: #151515;
}

.wrapper {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../assets//fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family: 'Space Mono Bold';
    src: url(../assets//fonts/space-mono.bold.ttf);
}

@font-face {
    font-family: 'Space Mono';
    src: url(../assets//fonts/space-mono.regular.ttf);
}

@font-face {
    font-family: 'Glitch';
    src: url(../assets/fonts/CFGlitchCity-Regular.ttf);
}

@font-face {
    font-family: 'Apex Medium';
    src: url(../assets/fonts/Apex\ Mk3-Medium.otf);
}