#loader {
    transition: opacity 1.5s ease-in-out;
}

.heading_container {
    position: absolute;
    z-index: 4;
    top: 65%;
    left: 0;
    width: 100%;
    height: 35%;
    box-shadow: inset 0px -200px 100px -65px #151515;
}

.robot_container {
    /* height: 100vh;
    width: 100vw; */
    position: absolute;
    width: max-content;
    top: 30vh;
    left: 46vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    transition: top 2.5s ease-in-out;
}

.robot_body {
    width: 8vw;
    animation-name: hover_robot;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.robot_base {
    width: 4vw;
    /* position: absolute;
    left: 47vw;
    right: 0;
    top: 42vh; */
}

/* .loading-text:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 90vw;
    white-space: nowrap;
    color: #DEDAD8;
    animation: loading 3s infinite;
} */

@keyframes loading {
    0% {
        max-width: 0;
    }
    100% {
        max-width: 90vw;
    }
}

@keyframes hover_robot {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.loading-text, .theme-text {
    display: flex;
    justify-content: center;
}

.loading-text-words {
    margin: 0 13.25px;
    width: min-content;
}

.loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1.5s 0s infinite linear alternate;
}

.loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate;
}

.loading-text span:nth-child(8) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.loading-text span:nth-child(9) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.4s infinite linear alternate;
}

.loading-text span:nth-child(10) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.6s infinite linear alternate;
}

.loading-text span:nth-child(11) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.8s infinite linear alternate;
}

.loading-text span:nth-child(12) {
    filter: blur(0px);
    animation: blur-text 1.5s 2s infinite linear alternate;
}

.loading-text span:nth-child(13) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.2s infinite linear alternate;
}

.loading-text span:nth-child(14) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.loading-text span:nth-child(15) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.4s infinite linear alternate;
}

.loading-text span:nth-child(16) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.6s infinite linear alternate;
}

.loading-text span:nth-child(17) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.8s infinite linear alternate;
}

.loading-text span:nth-child(18) {
    filter: blur(0px);
    animation: blur-text 1.5s 3s infinite linear alternate;
}

.loading-text span:nth-child(19) {
    filter: blur(0px);
    animation: blur-text 1.5s 3.2s infinite linear alternate;
}

.loading-text span:nth-child(20) {
    filter: blur(0px);
    animation: blur-text 1.5s 3.4s infinite linear alternate;
}

.loading-text span:nth-child(21) {
    filter: blur(0px);
    animation: blur-text 1.5s 3.6s infinite linear alternate;
}

.loading-text span:nth-child(22) {
    filter: blur(0px);
    animation: blur-text 1.5s 3.8s infinite linear alternate;
}

.loading-text span:nth-child(23) {
    filter: blur(0px);
    animation: blur-text 1.5s 4s infinite linear alternate;
}

.loading-text span:nth-child(24) {
    filter: blur(0px);
    animation: blur-text 1.5s 4.2s infinite linear alternate;
}

.loading-text span:nth-child(25) {
    filter: blur(0px);
    animation: blur-text 1.5s 4.4s infinite linear alternate;
}

@keyframes blur-text {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(4px);
    }
}

@media(max-width:600px) {
    #loader {
        transition: opacity 0.2s ease-in-out;
    }
    .robot_container {
        left: 32.5vw;
    }
    .robot_body {
        width: 35vw;
    }
    .robot_base {
        width: 17.5vw;
    }
    /* .loading-text {
        display: block !important;
        font-size: 1.8em !important;
        letter-spacing: 0.1em !important;
    } */
    .loading-text-words {
        margin: 0 0.05em;
        width: min-content;
        display: block !important;
    }
    .loading-text {
        display: flex !important;
        justify-content: center;
        font-size: 1.8em !important;
    }
    @keyframes hover {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-40px);
        }
        100% {
            transform: translateY(0);
        }
    }
}