.speakers {
  width: 100%;
  padding: 128px 17.5%;
  padding-right: 0%;
  box-sizing: border-box;
  position: relative;
  /*display: none;*/
}

.speakers .heading {
  width: 100%;
  color: #fafafa;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-family: "Teko Medium", serif;
}

.speakers .heading span {
  padding-left: 1rem;
  border-left: 0.6rem solid #fafafa;
}

.speakers .subheading {
  width: 100%;
  color: #b3b3b3;
  font-size: 1.7rem;
  letter-spacing: 0.5rem;
  font-family: "Teko Regular", serif;
  /* margin-left: 3rem; */
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.speakers .subheading span {
  padding-left: 1rem;
  /* border-left: 0.6rem solid #fafafa; */
}

.speakers .speakers-body {
  width: 80%;
  padding-top: 5vh;
  /* padding-left: 7%; */
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: azure;
  color: #fafafa;
  font: 1.4rem "Space Mono";
  letter-spacing: 0.2rem;
}

.speakers .speakers-body:nth-of-type(3) {
  /* padding-top: 20vh; */
  display: none/* when removing this line, search "line to be removed" in contact.css, and remove it */
}

.speakers .speakers-body .carousel {
  width: 100%;
  border: 1px white;
  margin-left: 3rem;
  /* display:flex; */
  /* padding: 0 8%; */
}

.speakers .speakers-body .carousel .card {
  width: 22vw;
  height: 24vw;
  margin: 0 0%;
}

.speakers .speakers-body .carousel .name {
  font-size: 1.1vw;
  text-align: left;
  /* margin-left: -10.5vw; */
  display: contents;
}

.speakers .speakers-body .carousel .speakers-name {
  opacity: 1;
}

.speakers .speakers-body .carousel .image {
  height: 14vw;
  background-size: cover;
  width: 11vw;
  transform: translateX(40px);
}

.speakers .speakers-body .carousel .description {
  font-size: 0.75vw;
  background: rgba(255, 255, 255, 0.08);
  transform: translate(98px, -30px);
  width: 15vw;
}

.speakers .speakers-body .nav {
  width: 100%;
}

.speakers .speakers-body .nav .buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.speakers .speakers-body .nav .buttons .dot {
  border: 3px solid rgba(255, 255, 255, 0.48);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 8px;
}

.speakers .speakers-body .nav .buttons .l-arrow {
  background-image: url("../assets/speakers/right-arrow\ \(1\).svg");
  height: 50px;
  width: 30px;
  margin-right: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.speakers .speakers-body .nav .buttons .r-arrow {
  background-image: url("../assets/speakers/right-arrow\ \(1\)\ \(1\).svg");
  height: 50px;
  width: 30px;
  margin-left: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.flickity-prev-next-button {
  transform: translateY(17vw) !important;
  z-index: 10;
}

.flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 20px;
  background: initial;
  opacity: 1;
  border: 2px white solid;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-page-dots {
  bottom: -7.2vw !important;
}

@media (min-width: 601px) {
  .flickity-prev-next-button.next {
    left: 40vw !important;
  }
  .flickity-prev-next-button.previous {
    left: 22vw !important;
  }
  .heading2 {
    margin-top: 30vh;
  }
}

@media (max-width: 600px) {
  .speakers {
    padding: 41px 5% 0 5%;
    height: 150vh;
  }
  .speakers .heading span {
    padding-left: 0.75rem;
    border-left: 0.35rem solid #fafafa;
  }
  .speakers .heading {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  .speakers .subheading {
    font-size: 1.4rem;
    /* margin-left: 15%;
    width: 100%; */
    text-align: center;
  }
  .heading2 {
    margin-top: 9vh;
  }
  .speakers .speakers-body {
    padding: 40px 5%;
    padding-bottom: 20px;
    font: 0.9rem "Space Mono";
    letter-spacing: 0.1rem;
    text-align: justify;
    width: 100%;
  }
  .speakers .speakers-body:nth-of-type(3) {
    /* padding: 40px 5%; */
  }
  .speakers .speakers-body .carousel {
    width: 90%;
    /* display: flex; */
    padding: 0 16%;
    margin: auto;
    height: 77vh;
  }
  .speakers .speakers-body .carousel .card {
    height: 100vh;
    margin: 0px 0%;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .speakers .speakers-body .carousel .name {
    font-size: 2.25vh;
    margin-bottom: 1vh;
  }
  .speakers .speakers-body .carousel .image {
    height: 70vh;
    width: 50vw;
    transform: translateX(0px);
    margin-bottom: 3vh;
    background-position: center;
    background-size: cover;
  }
  .speakers .speakers-body .carousel .description {
    font-size: 1.75vh;
    transform: translate(0, 0px);
    width: 46vw;
    letter-spacing: 0;
  }
  .flickity-prev-next-button.previous {
    height: 30px;
    width: 30px;
    top: 20vh;
    left: 0 !important;
  }
  .flickity-prev-next-button.next {
    height: 30px;
    width: 30px;
    top: 20vh;
    right: 0 !important;
  }
  .flickity-page-dots {
    left: 0;
    top: 105vh;
  }
}
