.videos {
  width: 100%;
  padding: 100px 15%;
  box-sizing: border-box;
  position: relative;
}

.videos .heading {
  width: 100%;
  color: #fafafa;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-family: 'Teko Medium', serif;
}

.videos .heading span {
  padding: 0 1rem;
}

.videos>.body {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.videos>.body>.video-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10%;
}

.videos>.body>.video-section:nth-of-type(2n + 1) {
  flex-direction: row-reverse;
}

.videos>.body>.video-section>.thumbnail {
  width: 40%;
  height: 15vw;
  position: relative;
}

.videos>.body>.video-section>.thumbnail::before {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 16px;
  height: 16px;
  z-index: -1;
  content: "+";
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.5);
}

.videos>.body>.video-section>.thumbnail::after {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  z-index: -1;
  content: "+";
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.5);
}

.videos>.body>.video-section>span {
  font-family: "Space Mono", serif;
  color: white;
  font-size: 2em;
}

@media (max-width: 600px) {
  .videos {
    padding: 64px 5%;
  }
  .videos .heading {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
  }
  .videos .heading span {
    padding: 0 0.75rem;
  }
  .videos>.body>.video-section {
    flex-direction: column;
  }
  .videos>.body>.video-section:nth-of-type(2n + 1) {
    flex-direction: column;
  }
  .videos>.body>.video-section>.thumbnail {
    height: 40vw;
    width: 80%;
  }
  .videos>.body>.video-section>span {
    font-size: 1.5em;
    margin: 5% 0;
    text-align: center;
  }
}