.videos {
  width: 100%;
  padding: 128px 20%;
  box-sizing: border-box;
  position: relative;
}

.videos .heading {
  width: 100%;
  text-align: end;
  color: #fafafa;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  font-family: "Space Mono Bold", serif;
}

.videos .heading span {
  padding-left: 1rem;
  border-right: 0.6rem solid #fafafa;
}