body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif,'Open Sans', sans-serif ;
 

    /* background-image: url(../images/bag.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: rgb(56, 56, 56) !important; */
    

    
  
}

a {
  color: #00B7FF;
}

.maindiv{
  color: white;
    /* background-color: #0000002e; */
}

.head-txt{
  margin-top: 65px;
}
